@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
    scroll-behavior: smooth ;
}

body {
    width: 100%;
    height: 100vh;
}

.carousel-inner img {
    /* background-image: url(https://images.unsplash.com/photo-1682685794761-c8e7b2347702?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-position: center; */
    /* width: 100%; */
    height: 92vh;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}
h1 {
    font-size: 3.5rem !important ;
    position: relative;
    font-weight: 770 !important;
    color: #00A9FF;

}

.bg-blue{
    background-color: #89CFF3;
}
h1::before{
    content: "";
    width: 100%;
    height: 5px;
    background:linear-gradient(to right, #f12711, #f5af19);
    position: absolute;
    bottom: 10px;
    left: 0;
}
h2{
    font-size: 3rem !important;
    font-weight: 600 !important;

    
}
.card {
    border-radius: .7rem;
}

.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 350px;
    /* background-color: rgba(0, 0, 0, 0); */
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption>p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 32px
}

.card {
    position: relative;
    width: 300px;
    max-width: 100%;
    height: 400px;
    background: #ffffff;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .5s;
}

.card:hover::after {
    transform: rotate(10deg);
}

.card:hover::before {
    transform: rotate(20deg);
}

.card .imgBox {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #101010;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.card:hover .imgBox {
    bottom: 75px;
}
#team {
    background: #89CFF3;    
    /* height: 80vh; */
    height: au;
}
.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card .details {
    position: absolute;
    /* left: 10px; */
    right: 10px;
    bottom: 10px;
    width: 100%;
    height: 55px;
}

.card .details h2 {
    /* margin-top: 5px; */
    /* padding: 0; */
    font-weight: 900;
    font-size: 30px !important;
    color: #101010;
    line-height: 1.15em;
    visibility: hidden;
    text-align: right;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.card:hover .details h2 {
    visibility: visible;
    opacity: 1;
}

.card .details h2 span {
    font-weight: 400;
    right: 0;
    font-size: 15px;
    color: #0dac4f;
    position: absolute;
    /* left: 0px; */

    /* bottom: -28px; */
}
